diffprivlib==0.6.2
numpy==1.22.4
opendp==0.6.1
pandas==1.5.2
scipy==1.10.0
sklearn==0.0
statsmodels==0.12.2
torch==1.13.1
typing_extensions==4.4.0
nose>=1.3.7
future>=0.17.1
autograd>=1.3
autodp==0.2
disjoint-set==0.7.3
python-dp==1.1.1
matplotlib==3.4.3
networkx==2.6.3
tqdm==4.62.3
jax==0.4.1
jaxlib==0.4.1
optuna==3.1.0
dill==0.3.4
notebook==7.0.6
